 <div class="row">
    <div class="col-md-12" ng-show="entries.length > 0">
        <table class="table table-striped table-bordered">
            <thead>
                <th>Device Key&nbsp;</th>
                <th>Friendly Name&nbsp;</th>
                <th>Action&nbsp;</th>
            </thead>
            <tbody>
                <tr ng-repeat="data in entries" ng-click="toggleEditing(data)">
                    <td>{{data.deviceKey}}</td>
                    <td ng-hide="editedItems[data.deviceKey]">{{data.friendlyName}}</td>
                    <td ng-show="editedItems[data.deviceKey]"><input ng-model="data.friendlyName" type= "text" class= "form-control" placeholder= "Friendly Name"/><button type="button" ng-click="saveDevice(data, $event)" class="btn btn-primary">Save</button> <a ng-click="cancelEditing(data, $event)"  class="btn">Cancel</a></td>
                    <td><button ng-click="deleteDevice(data)"  class="btn btn-warning">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="entries.length == 0">
        <div class="col-md-12">
            <h4>No entries found</h4>
        </div>
    </div>
</div>